ion-card.ItemCard > ion-card-content > ion-row > img{
  width: 95px;
  margin: -13px 16px -13px -13px;
  border-radius: 6px 0px 0px 6px;
}

ion-card.ItemCard > ion-card-content.md{
  padding: 0px;
  cursor: pointer;
}

ion-card.ItemCard > ion-card-content.md > ion-row.md > ion-col.md.start{
  padding: 0px
}

ion-card.ItemCard > ion-card-content.md > ion-row.md > ion-col.md:not(.start){
  padding: 18px;
}
ion-card.ItemCard > ion-card-content.md > ion-row.md > ion-col.md.end{
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 21px;
}

ion-col.end{
  display: flex;
  flex-direction: row-reverse;
}

ion-card.button{
  cursor: pointer;
}